<div>
  <button (click)=" onSelectUser()">
<!--    avatar property access using property binding-->
<!--    <img [src]=" 'assets/users/'+selectedUser.avatar"-->
<!--    [alt]="selectedUser.name"/>-->

<!--property binding using better approach-->
    <img [src]=" imagePath()"
      [alt]="selectedUser().name"/>
<!--imagePath er por () hbe for using signals-->
<!--    interpolation-->
<!--  <span>{{selectedUser.name}}</span>-->
    <span>{{selectedUser().name}}</span>
<!--    add parenthesis for  signals-->

  </button>
</div>

